ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.mentorInformation__name {
    text-decoration: none;
    color: $secondary;
    font-size: 2rem;
    transition: all .2s;
    &:hover {
        color: $primary;
    }
}

.mentorInformation__jobTitle {
    color: $white;
}


#profile_access {
   margin-left: 5rem;
}

.mentorsList {
    color: $primary;
}


#cluster {
    position: absolute;
    top: 14rem;
    bottom: 10rem;
    right: 10rem;
    width: 30%;
    border-radius: 2em;
    border: 2px solid $primary;
} 