.listBody {
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.listContainer {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  justify-content: center;
}

.information {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sliderAndButtonsContainer {
  margin-top: 0rem;
}

.profileInformation {
  max-width: 100%;
  display: flex;
}

.mentor_component {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px solid white;
  border-radius: 0.5em;
  padding: 10px;
  background-color: rgb(36, 36, 36);
  transition: all 0.2s;

  &:hover {
    transform: translateX(20px);
    border: 1px solid $redOrange;
    border-radius: 1em;
    background-color: rgb(24, 24, 24);
    cursor: pointer;
  }
}

.mentorInformation {
  margin-left: 5rem;
}

.mentorInformation__name {
  text-decoration: none;
  color: $primary;
  font-size: 1rem;
  padding-left: 1em;
  transition: all 0.2s;
  &:hover {
    color: $primary;
  }
}

.mentorInformation__jobTitle {
  text-decoration: none;
  padding-right: 1em;
  color: $white;

  &:hover {
    color: $lightGray;
  }
}

#profile_access {
  margin-left: 5rem;
}

.mentorsList {
  color: $lightGray;
}

#cluster {
  width: 40%;
  height: 50vh;
  border-radius: 2em;
  border: 2px solid $primary;
  position: sticky;
  top: 100px;
}

.mentor_component:nth-last-of-type(1) {
  margin-bottom: 100px;
}

/* --------------------------------RESPONSIVENESS --------------------------------- */

@media (max-width: 1400px) {
  #cluster {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .listContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #cluster {
    height: 35vh;
    width: 50vw;
  }

  .mentorInformation {
    margin-left: 0rem;
  }

  .mentor_component:first-of-type {
    margin-top: 3rem;
  }
}

@media (max-width: 1200px) {
  #cluster {
    width: 100%;
  }
}
