#mentorButton,
#menteeButton {
  height: 30rem;
  width: 20rem;
  background: black;
  background-size: cover;
  background-position: center;
  border: 2px solid #21d883;
  transition: all 0.2s;
}

#header {
  border-bottom: 3px solid #21d883;
}

.contained {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

#menteeButton:hover,
#mentorButton:hover {
  border: 2px solid yellow;
  border-radius: 4em;
  transform: scale(1.1, 1.1);
}

.category_title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

#header {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#mentorButton {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.49),
      rgba(0, 0, 0, 0.49)
    ),
    url(https://images.unsplash.com/flagged/photo-1559475555-b26777ed3ab4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);
}

#menteeButton {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.49),
      rgba(0, 0, 0, 0.49)
    ),
    url(https://images.unsplash.com/photo-1514369118554-e20d93546b30?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
}
