body {
    height: 150vh;
    background-image: linear-gradient(180deg, #39393980 0%, #06070ca1 100%),
    url();
    background-size: cover;
    background-position: bottom;
}

.profile_container{
    h1 {
    color: #21D883;
    }
}

label{
    font-weight: bold;
}

.section {
    padding: .5rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
}

#delete {
    margin-left: 2rem;
}

