
.profile_container{
    h1 {
    color: $primary;
    }
}

.label {
    font-weight: bold;
    color: $lightGray;
}

.profile__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.name {
    color: white;
}

.profile__head {
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    color: $lightGray;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid $primary;
    overflow: hidden;

    .profile__pic {
        width: 100%;
        margin-right: 3rem;
    }
}





.section {
    padding: .5rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
}

#delete {
    margin-left: 2rem;
}

