.avatar {
    position: absolute;
    left: -5rem;
    top: 5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    color: $lightGray;
    height: 40rem;
    width: 35rem;
    border-radius: 50%;
    border: 2px solid $primary;
    overflow: hidden;
    margin-top: 1rem;
    transition: all 2s ease-in-out; 
    }

.avatar__image {
    z-index: 1;
    margin-bottom: 3rem;
    max-width: 100%;
} 

.showPg__name {
    color: $white;
}

.information {
    color: white;
    margin-left: 20rem;
}

.unique_info {
    font-weight: lighter;
    line-height: 2rem;
}

#job_title {
    margin-top: .5rem;
    font-weight: lighter;
    letter-spacing: .2rem;
    color: white;
}

.button_container {
    margin-bottom: 7rem;
}

.navigation {
    background-color: $primary;
    border: none;
}

.progress_bar_container {
    width: 25rem;
}

.progress_color{
    background: rgb(255, 89, 0);
}

#request_btn {
    background-color: rgb(255, 89, 0);
    border: none;
    border-radius: 3rem;
    height: 4rem;
    color: white;
    font-size: 1.5rem;
    align-content: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#request_btn:hover {
    border: 2px solid white;
}

.progress_bar_container {
margin-bottom: 5rem;
}

.info-section {
    margin-bottom: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.container {
    margin-top: 5rem;
}

#map {
    width: 400px;
    height: 250px;
    border-radius: 5em;
    border: 2px solid $primary;
    position: absolute;
    margin-left: 60vw;
    top: 5rem;
}


.mapboxgl-popup {
    max-width: 200px; 
}

.mapboxgl-popup-content {
    color: white;
    background-color: rgb(52, 52, 52);
    border-radius: 2em;
    border: 1px solid $redOrange;
    box-shadow: $boxShadow;

    & a{
        font-size: 1rem;
        text-decoration: none;
        color: $redOrange;
    }
}




@media (max-width: 1602px) {
    .avatar {
        position: relative;
        left: -5rem;
        top: 2rem;
        display: flex;
        justify-items: center;
        align-items: center;
        font-weight: bold;
        color: $lightGray;
        height: 20rem;
        width: 15rem;
        border-radius: 50%;
        border: 2px solid $primary;
        overflow: hidden;
        margin-bottom: 5rem;
        }
    
    .avatar__image {
        width: 100%; 
        border-radius: 50%;
    }
    .information {
        margin-left: 2rem;
    }
    .info-section {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    #request_btn {
        height: 3rem;
        font-size: 1rem;
        padding: .5rem;
    }
    #map {
        position: absolute;
        z-index: -1;
        top: 300px;
        right: 1rem;
        width: 400px;
        height: 40vh;
        border-radius: 5em;
        border: 2px solid $primary;
    }
    
}

.mentee_slots {
    width: 80%;
}

#mentee_slot_label {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

.line__styling {
    @include line__styling;
    width: 100%;
}

