.showBody {
  min-height: 100vh;
}

.showContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prevPicNext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  background-color: $primary;
  border: none;
}

.avatar {
  top: 5rem;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  font-weight: bold;
  color: $lightGray;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border: 3px solid $primary;
  overflow: hidden;
  margin: 2rem 3rem 0 3rem;
  transition: all 1s ease-in-out;
}

.avatar__image {
  z-index: 1;
  margin-bottom: 3rem;
  max-width: 100%;
}

.showPg__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}

.comp_edu_field {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.information {
  color: white;
}

.unique_info {
  font-weight: lighter;
  line-height: 2rem;
}

#job_title {
  margin-top: 0.5rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  color: white;
}

.info-section {
  margin-bottom: 4rem;
  margin-right: 3rem;
}

.progress_bar_container {
  width: 25rem;
  margin-bottom: 5rem;
}

.progress_color {
  background: rgb(255, 89, 0);
}

.messageRequest_Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.msg_map_container {
  position: relative;
}

#request_btn {
  background-color: rgb(255, 89, 0);
  border: none;
  border-radius: 3rem;
  height: 4rem;
  color: white;
  font-size: 1.5rem;
  align-content: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

#request_btn:hover {
  border: 2px solid white;
}

#map {
  width: 400px;
  height: 300px;
  border-radius: 5em;
  border: 2px solid $primary;
  margin-left: 60vw;
  top: -15rem;
  right: 4rem;
  position: absolute;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  color: white;
  background-color: rgb(52, 52, 52);
  border-radius: 2em;
  border: 1px solid $redOrange;
  box-shadow: $boxShadow;

  & a {
    font-size: 1rem;
    text-decoration: none;
    color: $redOrange;
  }
}

.mentee_slots {
  width: 80%;
}

#mentee_slot_label {
  margin-top: 10rem;
  color: white;
  font-size: 1.5rem;
}

.profileInformation h3 {
  font-size: 2rem;
}

.line__styling {
  @include line__styling;
  width: 100%;
}

.privateMsgBtn {
  background-color: $secondary;
  border: none;
  border-radius: 3rem;
  height: 4rem;
  color: rgb(46, 46, 46);
  font-size: 1.5rem;
  align-content: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 3rem;
}

.submitBtn {
  margin-bottom: 10rem;
}

#reviews {
  background-color: lighten(black, 20%);
  box-shadow: $boxShadow;
  padding: 5rem;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ----------------------------------------------- RESPONSIVE DESIGN ----------------------------------------------- */

@media (max-width: 1200px) {
  .messageRequest_Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .privateMsgBtn {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .avatar {
    height: 15rem;
    width: 15rem;
    margin: 3rem 1rem 0 1rem;
  }

  .container {
    flex-direction: column;
  }

  .comp_edu_field {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    flex-direction: column;
  }

  .progress_bar_container {
    margin-left: 2rem;
    width: 90%;
  }

  #mentee_slot_label {
    margin-top: 5rem;
  }

  .messageRequest_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .privateMsgBtn {
    margin-left: 0rem;
  }

  .information {
    margin-left: 2rem;
  }
  .info-section {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  #reviews {
    grid-template-columns: 1fr;
  }

  #map {
    display: none;
  }
}

@media (max-width: 550px) {
  #job_title {
    font-size: 1rem;
  }

  #reviews {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .avatar {
    height: 10rem;
    width: 10rem;
    margin: 3rem 1rem 0 1rem;
  }

  .navigation {
    font-size: 0.5rem;
    padding: 0.5rem;
  }
}
