.introduction_container {
  margin: 0 2rem 0 2rem;
  padding: 0 4rem 0 4rem;
  color: white;
}

#tierSystem {
  color: #21d883;
}

dt {
  font-size: 2rem;
  color: #21d883;
}

dd {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
}

.sun {
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .introduction_container {
    margin: 0 0 0 0;
    padding: 0 2rem 0 2rem;
  }
}
