//colors
$primary: #21D883;
$secondary: #96EAC3;
$highlight: rgb(255, 218, 7);
$white: #FFF;
$redOrange: rgb(255, 89, 0);
$lightGray:  rgba(242, 242, 242, 0.872);
$gradient: linear-gradient(180deg, #39393980 0%, #06070ca1 100%);

//shadows
$boxShadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);

