body {
    height: 200%;
    background: linear-gradient(180deg, #393939 0%, #0c0c06 100%);
}

a {
    text-decoration: none;
    color: #21D883;
}

a:hover {
    color: rgb(255, 218, 7);
}

.header {
    color: white;
    border-bottom: .3rem solid #21D883;
}

.mentors {
    position: absolute;
    left: -5rem;
    top: 7rem;
    z-index: 1;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-image:
    url(https://images.unsplash.com/photo-1530041653543-6b9fad4f9c6d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHB1Z3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: contain;
    border: .3rem solid #21D883;
    margin-bottom: 3rem;
    transition: all 2s;
}

.information {
    color: white;
    margin-left: 20rem;
}

.unique_info {
    font-weight: lighter;
    line-height: 2rem;
}

#job_title {
    margin-top: .5rem;
    font-weight: lighter;
    letter-spacing: .2rem;
    color: white;
}

.button_container {
    margin-bottom: 7rem;
}

.navigation {
    background-color: #21D883;
    border: none;
}

.progress_color{
    background: rgb(255, 89, 0);
}

#request_btn {
    background-color: rgb(255, 89, 0);
    border: none;
    border-radius: 3rem;
    height: 4rem;
    color: white;
    font-size: 1.5rem;
    align-content: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#request_btn:hover {
    border: 2px solid white;
}

.progress_bar_container {
margin-bottom: 5rem;
}

.info-section {
    margin-bottom: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.container {
    margin-top: 5rem;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    width: 20rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border: 2px solid #21D883;
    margin: 1rem;
    padding: 1rem;
    transition: all;
    transition-duration: .2s;
}

.subject:hover {
    border: 3px solid #ecff8b;
    font-size: 3.5rem;
    cursor: pointer;
}

#psychology {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1517346665566-17b938c7f3ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
#engineering { 
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1581094480465-4e6c25fb4a52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
#biology {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1567427018141-0584cfcbf1b8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
#physics {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1576319155264-99536e0be1ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1275&q=80);
}
#arts {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1556321360-f492c2ffea64?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
}
#trades {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1473621038790-b778b4750efe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80);
}
#content-creation {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1599999904375-417412f2813c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80);
}
#business {
    background-image: linear-gradient(180deg, #39393980 0%, #06070c82 100%),
    url(https://images.unsplash.com/photo-1577415124269-fc1140a69e91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80);
}

@media (max-width: 1285px) {
    .mentors {
        position: relative;
        top: .1rem;
        right: 1rem;
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0%;
        background-size: cover;
    }
    .information {
        margin-left: 2rem;
    }
    .info-section {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    #request_btn {
        height: 3rem;
        font-size: 1rem;
        padding: .5rem;
    }
}


/* .mentors::before {
    content: "<";
    width: 3rem;
    height: 3rem;
    background-color: cyan;
    border-radius: 50%;
}
.mentors::after {
    content: ">";
    width: 3rem;
    height: 3rem;
    background-color: cyan;
    border-radius: 50%;
} */

