body {
    height: 200%;
    background: linear-gradient(180deg, #393939 0%, #06070c 100%);
    color: white;
}


ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.list_of_mentors {
    text-decoration: none;
    color: #96EAC3;
    font-size: 2rem;
    transition: all .2s;
}

.list_of_mentors:hover {
    color: #21D883;
}

#profile_access {
   margin-left: 5rem;
}