.forgotPassword {
    color: rgb(0, 81, 255);
    font-size: .8rem;
}

.btn {
    padding: 1em 2em 1em ;
}

.card{
    margin-left: 25%;
    margin-right: 25%;
}
@media (max-width: 760px){
    .card{
        margin-left: 5%;
        margin-right: 5%;
    }
}

.createProfile {
    padding: 2rem;
    border-bottom: 2px solid black;
}