<% layout('/layouts/boilerplate')  %>
<link rel="stylesheet" href="/stylesheets/faq.css">

<div class="row row-col-2">
    <div class="container col-5">
        <h2 class="my-5">Who is a Mentee?</h2>
        <dl class="row">
            <dt class="col-xl-3">Description of a Mentee</dt>
            <dd class="col-xl-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus natus
                voluptate sequi deserunt harum, blanditiis vitae, amet aspernatur saepe perspiciatis dolores quibusdam
                molestiae. Nulla assumenda similique asperiores consectetur dignissimos!</dd>

            <dt class="col-xl-3">Responsibilities of the Mentee</dt>
            <dd class="col-xl-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fuga adipisci deleniti eius sequi a
                    distinctio nostrum molestiae illum esse quos voluptate possimus ratione ea sapiente, quod explicabo
                    laudantium quis!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas fuga, perspiciatis consequuntur
                    officiis
                    ea
                    quis saepe exercitationem similique esse cumque impedit, aspernatur sint excepturi? Quibusdam
                    mollitia
                    eius
                    sed. Laudantium, voluptates.Quasi sapiente amet, et molestiae mollitia eaque deleniti numquam omnis.
                    Possimus ex sunt a! Repellat labore commodi velit, est, atque voluptatum eos, vitae inventore aut
                    vero
                    veniam expedita reprehenderit saepe.</p>
            </dd>

            <dt class="col-xl-3">Requesting Mentorship</dt>
            <dd class="col-xl-9">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iste ullam iusto quo
                qui
                laborum esse quasi voluptas officia dolor libero voluptate</dd>

            <dt class="col-xl-3 text-truncate">Browsing Subjects</dt>
            <dd class="col-xl-9">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ex totam modi veniam
                similique placeat non. Autem delectus mollitia sint modi consequuntur, sit dolor dignissimos, illum nemo
                alias
                aperiam necessitatibus?</dd>
        </dl>
    </div>


    <div class="container col-5">
        <h2 class="my-5">Who is a Mentor?</h2>
        <dl class="row">
            <dt class="col-xl-3">Description of a Mentor</dt>
            <dd class="col-xl-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus natus
                voluptate sequi deserunt harum, blanditiis vitae, amet </dd>

            <dt class="col-xl-3">Responsibilities of the Mentor</dt>
            <dd class="col-xl-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fuga adipisci deleniti eius sequi a
                    distinctio nostrum molestiae illum esse quos voluptate possimus ratione ea sapiente, quod explicabo
                    laudantium quis!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas fuga, perspiciatis consequuntur
                    officiis
                    ea
                    quis saepe exercitationem similique esse cumque impedit, aspernatur sint excepturi? Quibusdam
                    mollitia
                    eius
                    sed. Laudantium, voluptates.Quasi sapiente amet, et molestiae mollitia eaque deleniti numquam omnis.
                    Possimus ex sunt a! Repellat labore commodi velit, est, atque voluptatum eos, vitae inventore aut
                    vero
                    veniam expedita reprehenderit saepe.</p>
            </dd>

            <dt class="col-xl-3">Contacting Mentees</dt>
            <dd class="col-xl-9">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iste ullam iusto quo
                qui
                laborum esse quasi voluptas officia dolor libero voluptate</dd>

            <dt class="col-xl-3 text-truncate">Assigned Work</dt>
            <dd class="col-xl-9">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ex totam modi veniam
                similique placeat non.</dd>
        </dl>
    </div>
</div>