<% layout('/layouts/boilerplate')  %>
<link rel="stylesheet" href="/stylesheets/faq.css">


<div class="faqBody row">
    <div class="faqContainer">
        <div class="accordion accordion-flush" id="accordionExample">
            <h2 class="faq-title">Who is a Mentee?</h2>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Who can be a Mentee?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>A person that desires to learn!</strong> Regardless of your background, if you are able
                        to learn, you are able to be a mentee.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Responsibilities of the Mentee
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Learn!</strong> Inside of Apprentice your role is to become exposed to different
                        professions you may be interested,as well as the people within those professions which will
                        guide you along your path.
                        <br />
                        <br />
                        Your Mentor is your guide into the world which you are seeking access to. Use the opportunity to
                        put your best foot forward and soak up as much knowledge as you can.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Requesting Mentorship
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>A Direct Message Away.</strong> Requesting mentorship is as simple as locating a
                        mentor's professional, checking their mentee count, and if there is space for you send them a
                        message.

                        Tell them a little bit about yourself. Where are you in the learning process? What sort of job
                        are you looking for? What kind of mentor do you need? Are you willing to work hard?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Browsing Subjects
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Look Around.</strong> Although this is not your typical social application, it is meant
                        for you to reach out. Communicate with people who do interesting things.

                        Find out about the world around you. How many professions exist now that didn't 5, 10, or 20
                        years ago?

                        "An Underwater Construction Technician makes how much per year!? What even is that?" is the sort
                        of response we want you to have. Go! Get exposed to the world.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="faqContainer">
        <div class="accordion accordion-flush" id="accordionExample">
            <h2 class="faq-title">Who is a Mentor?</h2>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Who can be a Mentor?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>A professional, hobbyist, or someone with experience</strong>
                        If you have 3 or more years of experience doing something then chances are you have the baseline
                        level of knowledge it takes to be a mentor.
                        The goal of Apprentice is to mobilize the world, spreading knowledge more openly.
                        <br />
                        <br />
                        Of course we have to be responsible in who we allow to mentor on the app so please expect to
                        answer a few questions as to your approach to mentorship as well as why you'd like to be a
                        mentor.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Responsibilities of the Mentor
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Pass on your knowledge</strong> Some mentees may be with you for days, other for years.
                        When we start out the fact is that we just don't know who will stick. It is your job to
                        facilitate learning for your mentees. Are you having conversations with your mentees regularly?
                        Having group discussions? Assigning work that you think would be beneficial to them learning
                        more?
                        <br />
                        <br />
                        In other words, it is your job to expose mentees to your profession, what it's like, why you
                        like it, and if they're interested, how to become like you some day.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Accepting or Removing a Mentee
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>It is up to you.</strong> It is entirely up to you whether you choose to accept or deny
                        working with a mentee. As it is their choice as to whether or not they would like to stay with
                        you.
                        <br />
                        <br />
                        If you do decide to remove a mentee from your cohort we ask that you please give them a
                        notification of flagged behavior before removing them and let them know how they can improve.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Communication with Mentee
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Communicate clearly and often.</strong> We suggest communicating with mentees
                        via our chat messaging service or in direct messages. If text or email provides a more suitable
                        solution then feel free
                        to use that as well.
                        <br />
                        <br />
                        We suggest frequent communication, at least once weekly to foster momentum and prevent
                        stagnation in the mentee's journey.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>