<% layout('/layouts/boilerplate')  %>
<link rel="stylesheet" href="/stylesheets/tiers.css">

<div>
    <div class="introduction_container">
        <h1 class="my-5" id="tierSystem">The Tier System...</h1>
        <p class="col mb-2">Was designed to give both mentors and mentees flexibility
            in how they choose to use our service. </p> 
        <p class="col mb-5">Perhaps you're not ready
            for a full time commitment to a mentor and are just wanting to
            browse your options. We've got you covered</p>
    </div>

    <div class="container">
        <dl class="row">
            <dt class="col-xl-3">Tier 1 <span class="sun">🔆</span></dt>
            <dd class="col-xl-9">These users are new to their journey and want the flexibility of
                seeing what available without commitment.</dd>
            <dt class="col-xl-3">Tier 2 <span class="sun">🔆🔆</span></dt>
            <dd class="col-xl-9">
                <p>These users are ready to have more direct conversations and assignments as they are narrowing down
                    their options.</p>
            </dd>
            <dt class="col-xl-3">Tier 3 <span class="sun">🔆🔆🔆</span></dt>
            <dd class="col-xl-9">
                <p>These users have decided they are ready to
                    pursue direct mentorship</p>
            </dd>
        </dl>
    </div>

    <form action="/explore" method="GET">
        <div class="container mb-5 d-flex justify-content-center">
            <button class="btn btn-info">Next</button>
        </div>
    </form>
</div>