<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/style.css">

<main class="loginBody">
    <div id="login-card" class="user_form form">
        <div class="container-sm">
            <div class="d-flex justify-content-center">
                <h1>Log In</h1>
            </div>
            <div class="underlineContainer">
                <div class="underline"></div>
            </div>

            <form class="row g-3 mt-3 needs-validation validated-form" action="/login" method="POST" novalidate>
                <div class="row g-3 section">
                    <label for="username" class="form-label col-md">Username</label>
                    <div class="col-md-8">
                        <input type="text" name="username" id="username" placeholder="username" class="form-control"
                            aria-label="username" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="row g-3 section">
                    <label for="password" class="form-label col-md">Password</label>
                    <div class="col-md-8">
                        <input type="password" name="password" id="password" placeholder="*********"
                            class="form-control" aria-label="password" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a password.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-6 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn--green mb-3">Log In</button>
                </div>

                <div id="spacing-line" class="d-flex justify-content-end">
                    <div>Don't have a profile?</div>
                    <a id="create_profile_link" href="/signup">Create One!</a>
                </div>

            </form>
        </div>
    </div>
</main>


<script src="/javascripts/validation.js"></script>