<% layout('/layouts/boilerplate')  %>
<link rel="stylesheet" href="/stylesheets/signup.css">
<link rel="stylesheet" href="/stylesheets/login.css">


<div class="card">
    <div class="container-sm">
        <div class="d-flex justify-content-center">
            <h1>Log In</h1>
        </div>
        <form class="row g-3 mt-3">
            <div class="row g-3 section">
                <label for="username" class="form-label col-md">Username</label>
                <div class="col-md-8">
                    <input type="username" id="username" placeholder="username" class="form-control"
                        aria-label="username">
                </div>
            </div>
            <div class="row g-3 section">
                <label for="password" class="form-label col-md">Password</label>
                <div class="col-md-8">
                    <input type="password" id="password" placeholder="*********" class="form-control"
                        aria-label="password">
                    <a href="/" class="forgotPassword d-flex justify-content-start">Forgot your Password?</a>
                </div>

            </div>
            <div class="col-12 mb-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mb-3">Log In</button>
            </div>
            <div class="createProfile d-flex justify-content-end">
                <div>Don't have a profile?</div>
                <a href="/signup">Create One!</a>
            </div>

            <p class="d-flex justify-content-center">By signing in or creating a profile you
                agree to our <a href="#">terms of use</a></p>
        </form>
    </div>
</div>