<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/style.css">

<div class="dashHeader">
    <h1 class="dashHeader__content">Mentor Dashboard</h1>
</div>

<nav class="dashboardNav">
    <header class="dashboardNav__head">

        <!-- insert profile picture -->
        <% if(user.avatar.url){ %>
        <img class="dashboardNav--picture" src="<%= user.avatar.url  %> " alt="">
        <% } else { %>
        <img class="dashboardNav--picture"
            src="https://images.unsplash.com/photo-1517849845537-4d257902454a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
            alt="">
        <% } %>
        <div class="dashboardNav--username">Welcome, <%= user.name.first %> </div>
    </header>
    <div class="dashboardNav__links">
        <a class="dashboardNav--link" href="#content">Upload Content</a>
        <a class="dashboardNav--link" href="#messages">Messaging</a>
        <a class="dashboardNav--link" href="#analytics">Analytics</a>
    </div>
</nav>

<div class="largeView">
    <div id="messages" class="messages">
        <div class="messages__content">
            <div class="messages--mentee">Messages</div>
        </div>
    </div>

    <div id="analytics" class="analytics">
        <div class="analytics__graph">
            <div class="analytics--information">
                Graph information
            </div>
        </div>
    </div>
</div>

<div class="mediaRow">
    <a class="addContentLink" href="#">
        <div id="addContent" class="addContent">
            <div class="addContent__video">
                <div class="addContent--circle">
                    <div class="addContent--plus">+</div>
                </div>
            </div>
        </div>
    </a>
    <div id="uploads" class="uploads">
        <div class="uploaded__video">
            <video class="uploaded--style" width="400" loop controls>
                <source
                    src="https://vod-progressive.akamaized.net/exp=1618260237~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F4460%2F14%2F372304294%2F1546922542.mp4~hmac=c2dcbfe2d3df46e7c292cbbb49516edae117c2ccfca0fc0c17c2f8cc767fe03b/vimeo-prod-skyfire-std-us/01/4460/14/372304294/1546922542.mp4">
            </video>
        </div>
    </div>
</div>



<!-- Dashboards usually contain

    Content Upload - Videos
    Messaging Access
    Analytics - (page views, goals for page completion, mentee progression, last mentee contact)